.side {
    width: 100px;
    height: 100hv;
    background-color: #c5c9cd;
    color: white;
    padding-top: 30px;
}

.side ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side ul li {
    padding: 18px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.side ul li:hover {
    background-color: #979da4;
    padding-left: "30px";
    height: "100hv";
};